@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}
.bodynav{
    display: flex;
    justify-content: center;
    background: #23242a;
    
}
.boxnav{
    position: relative;
    width: 100%;
    height: 100px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 50px;
}
/*.boxnav::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.boxnav::after{
    content: '';
    position: absolute;

    width: 100%;
    height: 200px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
*/
.formnav
{
    position: absolute;
    inset: 2px;
    border-radius: 2px;
    background: #28292d;
    align-items: center;
    z-index: 8;
    display: flex;
    padding: 50px 40px;
    flex-direction: row  ;
    justify-content: space-between;
    border-color: #45f3ff;
    border-width: 2px;
    border-style: solid;

}
.formnav
{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    align-items: center;
    z-index: 10;
    padding: 2px;
    display: flex;
    justify-content: space-between;

}
.formnav h2
{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 00.1em;

}
.inputBox
{
    position: relative;
    width: 150px;
    margin-top: 0px;
    margin: 10px;
    
}
.inputBox input
{
    position: relative;
    width: 150px;
    padding: 15px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputBox span
{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s
}
.inputBox input:valid~ span,
.inputBox input:focus~ span
{
    color: #45f3ff;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}
.inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:valid~ i,
.inputBox input:focus~ i
{
    height: 44px;
}
input[type="submit"]
{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 135px;
    height: 48px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

button[type="submit"]
{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 10px 30px;
    width: 180px;
    height: 48px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
input[type="submitexit"]
{
    border: none;
    outline: none;
    background: red;
    padding: 11px 25px;
    width: 200px;
    height: 48px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
}

button[type="submitexit"]
{
    border: none;
    outline: none;
    background: red;
    padding: 10px 30px;
    width: 180px;
    height: 48px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    justify-content: right;
}

.acomodo{
    display: flex;
    align-items: center center;
    justify-content: space-between;
    margin: 10px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}


.bodycontent{
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  background: #23242a;
  overflow: hidden;
  height: auto;
  width: 100%;
}



.formcontent
{
    position: relative;
    border-radius: 2px;
    background: #28292d;
    z-index: 8;
    padding: 50px 40px;
    flex-direction: row  ;
    border-color: #45f3ff;
    border-width: 2px;
    border-style: solid;
    width: 1150px;
    height: auto;
    margin: 30px;
}

.formas
{
    position: relative;
    border-radius: 2px;
    background: #28292d;
    z-index: 8;
    padding: 50px 40px;
    border-color: #45f3ff;
    border-width: 2px;
    border-style: solid;
    width: 250px;
    margin: 30px;
    color: #45f3ff;
    align-items: center;
    justify-content: center;
    height: 400px;
}


.links a
{
    margin: 10px 0;

    color: #8f8f8f;
    text-decoration: none;
}
.links a:hover,
.links a:nth-child(2)
{
    color: #45f3ff;
}