<div class="bodyvid">
  <div class="boxdiv">
    <div class="formvid">
      <button type="submit" title="Ingresar" name="Ingresar" routerLink="/menu">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> Exit</button>
      <br>
    </div>
    <div class="videos">
      <div class="fondo">
        <div class="acomodo">
          <div class="twitch">
            <div class="twitch-video">
              <iframe src="https://player.twitch.tv/?channel=playstation&parent=localhost&autoplay=true"
                frameborder="0" scrolling="no" allowfullscreen="true" height="500px" width="1000px">
              </iframe>
            </div>
            <div class="twitch-chat">
              <iframe frameborder="0" scrolling="no"
                src="https://www.twitch.tv/embed/playstation/chat?parent=localhost" height="500px" width="400px">
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="fondo">
        <div class="acomodo">
          <div class="twitch">
            <div class="twitch-video">
              <iframe src="https://player.twitch.tv/?channel=xbox&parent=localhost&autoplay=true"
                frameborder="0" scrolling="no" allowfullscreen="true" height="500px" width="1000px">
              </iframe>
            </div>
            <div class="twitch-chat">
              <iframe frameborder="0" scrolling="no"
                src="https://www.twitch.tv/embed/xbox/chat?parent=localhost" height="500px" width="400px">
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="fondo">
        <div class="acomodo">
          <div class="twitch">
            <div class="twitch-video">
              <iframe src="https://player.twitch.tv/?channel=nintendo&parent=localhost&autoplay=true"
                frameborder="0" scrolling="no" allowfullscreen="true" height="500px" width="1000px">
              </iframe>
            </div>
            <div class="twitch-chat">
              <iframe frameborder="0" scrolling="no"
                src="https://www.twitch.tv/embed/nintendo/chat?parent=localhost" height="500px" width="400px">
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="fondo">
        <div class="acomodo">
          <div class="twitch">
            <div class="twitch-video">
              <iframe src="https://player.twitch.tv/?channel=asusrog&parent=localhost&autoplay=true"
                frameborder="0" scrolling="no" allowfullscreen="true" height="500px" width="1000px">
              </iframe>
            </div>
            <div class="twitch-chat">
              <iframe frameborder="0" scrolling="no"
                src="https://www.twitch.tv/embed/asusrog/chat?parent=localhost" height="500px" width="400px">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>